h1{
    color: rgb(105, 105, 105)y;
    background-color: cornflowerblue;
    padding: 5px;
    font-family: 'Architects Daughter', cursive;
}

li{
    background-color: rgb(202, 231, 193);
    color: rgb(71, 66, 75);
    font-family: 'Lato', sans-serif;
    
}

p{
    background-color: rgb(202, 231, 193);
    color: rgb(71, 66, 75);
    font-family: 'Lato', sans-serif;
}

html{
    background-color: rgb(202, 231, 193);
    background-image: url("https://media.tenor.com/images/fd4bebc23b5773cf2d922c49c99727d0/tenor.gif");
}